body {
  height: 500%;
  margin: 0;}
 h1{    color: rgb(168, 8, 8);
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: none;
    font-size: 44px;
    display: flex;   
    float: left;}


header, nav, ul, li {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px; /* Adjust padding to make the navbar shorter */
  background-color: #ebc5b69a; 
  color: rgb(0, 0, 0); 
  height: 100px; /* Set a fixed height for the header */
}


.logo-container {
  margin-right: 20px; 
}

.logo-container img {
  max-width: 200px; 
}




nav ul li {
  display: inline;
  margin-right: 15px; 
}


nav ul li a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px 20px; /* Adjust padding to make the navbar buttons smaller */
  display: inline-block;
  font-size: 20px; /* Reduce font size for smaller navbar buttons */
  text-decoration: none;
  color: #000000;
}


nav ul li a:hover {
  color: #ffffff;
  background-color: #f08f8f;
}


.BUTTONS{ color: #889aff;

}