html, body {
  background: linear-gradient(45deg, #f0f9ff 0%, #ffafb3 47%, #9fbcf9 88%, #c8d8f7 99%);
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;
  background-attachment: fixed;
}

body {
  display: flex;
  flex-direction: column;
}

header, nav, ul, li {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px; 
  background-color: #ebc5b69a; 
  color: rgb(0, 0, 0); 
  height: 100px;
}

.logo-container {
  margin-right: 20px;
}

.logo-container img {
  max-width: 200px;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px 20px;
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  color: #000000;
}

nav ul li a:hover {
  color: #ffffff;
  background-color: #f08f8f;
}

.BUTTONS {
  color: #889aff;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: transparent;
  padding: 3em;
  border-radius: 20px;
  border-left: 1px solid $black;
  border-top: 1px solid $black;
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  text-align: center;
  transition: all 0.2s ease-in-out;
}

form h1 {
  font-size: 80px;
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 0px;
  text-shadow: 2px 2px 4px rgba(196, 23, 23, 0.2);
}

form a {
  text-decoration: none;
  color: #ddd;
  font-size: 12px;
}

form a:hover {
  text-shadow: 2px 2px 6px #00000040;
}

form a:active {
  text-shadow: none;
}

form input {
  background: transparent;
  width: 200px;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-left: 1px solid $white;
  border-top: 1px solid $white;
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

form input:hover {
  background: #e2848456;
  box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
}

form input[type="email"]:focus,
form input[type="password"]:focus {
  background: #e28484a1;
  box-shadow: 4px 4px 60px 8px rgba(183, 212, 255, 0.2);
}

form input[type="button"] {
  margin-top: 10px;
  width: 150px;
  font-size: 1rem;
}

form input[type="button"]:hover {
  cursor: pointer;
}

form input[type="button"]:active {
  background: rgba(255,255,255,0.2);
}

::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.drop {
  background: $black;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border-left: 1px solid $white;
  border-top: 1px solid $white;
  box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
  position: absolute;
  transition: all 0.2s ease;
}

.drop-1 {
  height: 80px;
  width: 80px;
  top: -20px;
  left: -40px;
  z-index: -1;
}

.drop-2 {
  height: 80px;
  width: 80px;
  bottom: -30px;
  right: -10px;
}

.drop-3 {
  height: 100px;
  width: 100px;
  bottom: 120px;
  right: -50px;
  z-index: -1;
}

.drop-4 {
  height: 120px;
  width: 120px;
  top: -60px;
  right: -60px;
}

.drop-5 {
  height: 60px;
  width: 60px;
  bottom: 170px;
  left: 90px;
  z-index: -1;
}

a,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.tsawer {
  margin: 20px auto;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.tsawer label {
  cursor: pointer;
}

.tsawer img {
  width: 200px;
  height: 86px;
  border-radius: 30%;
  margin: 10px;
}

.s_t input[type="button"][value="STUDENT"] {
  margin-right: 35px;
  font-size: 16px;
}

.s_t input[type="button"][value="TEACHER"] {
  margin-left: 35px;
  font-size: 16px;
}

select {
  background: transparent;
  width: 200px;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

select:hover {
  background: rgba(255,255,255,0.1);
  box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
}

select:focus {
  background: rgba(255,255,255,0.1);
  box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
}

option {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #000000;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

optgroup {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #ff0000;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}
